@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.light{
    background-image: linear-gradient(90deg,#B9B6E5,#7DE2FC);
}
.dark{
    background-image: linear-gradient(90deg,#6a11cb, #2575fc);
}
input[type="checkbox"]{
    outline: none;
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background: #c6c6c6;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}
input:checked[type="checkbox"]{
    background: #03a9fa;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top:0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}
input:checked[type="checkbox"]:before{
    left: 20px;
}
.ocultar{
    visibility: hidden;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "header header header"
    "calculadora calculadora calculadora"
    "footer footer footer";
}
.contenedor .header,
.contenedor .calculadora,
.contenedor .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header{
    background: #12203e;
    color: #fff;
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.calculadora{
    grid-area: calculadora;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

}
.pantalla{
    margin: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 84%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blanco{
    background: #c3cfe2;
    color:rgb(29, 29, 29);
}
.negro{
    background: rgb(29, 29, 29);
    color: #e9e9e9;
}
.resultado{
    background: #cfcfcf;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    width: 84%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.4rem;
    width: 20%;
    height: 80px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.morado{
    background: #6a11cb;
    color: white;
}
.morado-suave{
    background: #dad4ec;
    color: black;
}

.boton:hover{
    color: #6a11cb;
    background: #e9e9e9;
    box-shadow: 4px 4px 19px -3px rgba(112,112,112,1);
    border: solid 2px #6a11cb;
}
.contenedor .footer{
    background: #12203e;
    color: #fff;
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#igual{
    background: #12203e;
    color: white;
}
#igual:hover{
    box-shadow: 4px 4px 19px -3px rgba(112,112,112,1);
    transform: scale(1.05);
    border: solid 2px #12203e;
}
@media screen and (max-width:768px){
    .boton{
        height: 60px;
        margin: 5px;
        font-size: 1.2rem;
    }
    .pantalla{
        height: 60px;
        font-size: 1.2rem;
    }
}

